*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	max-width: 1200px;
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(to top left,rgb(0,0,0),#221133);
}

img{
	height: 350px;
}

nav img {
	height: 25px;
}


nav ul{
	list-style-type: none;
	background-color: none ;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

nav ul li{
	position: relative;
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

nav ul li after{
	position: absolute;
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

nav ul li:hover{
	transform:scale(1.25,1.25);
}

nav a{
	color: white;
	text-decoration: none;
	padding: 25px;
	display: block;
	height: 65px;
}

nav li{
	float: left;
}


.container {
	text-align: center;
	color: white;
	font-size: 16px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@media(max-width: 1480px){
	.container{
		width: 1200px;
	}
}

@media(max-width: 1200px){
	.container{
		width: 1000px;
	}
}

@media(max-width: 1024px){
	.container{
		width: 700px;
	}
}

@media(max-width: 768px){
	.container{
		width: 400px;
	}
}

@media(max-width: 425px){
	.container{
		width: 320px;
	}
}
