*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	max-width: 1200px;
	width: 100%;
	height: 1200px;
	background-image: linear-gradient(to top left,rgb(0,0,0),#221133);
}

img{
	height: 300px
}

nav img {
	height: 25px;
}


nav ul{
	list-style-type: none;
	background-color: none ;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

nav a{
	color: white;
	text-decoration: none;
	padding: 25px;
	display: block;
	height: 65px;
}

nav li{
	float: left;
}

nav a:hover{
	font-size: 17px;
	
}

nav img:hover {
	height: 27px;
}

.container {
	text-align: center;
	color: white;
	font-size: 16px;
	font-family: DejaVu Sans Mono ;
	font-align: center;
}

@media(max-width: 1480px){
	.container{
		widht: 1200px:
	}
}

@media(max-width: 1200px){
	.container{
		widht: 1000px:
	}
}

@media(max-width: 1024px){
	.container{
		widht: 700px:
	}
}

@media(max-width: 768px){
	.container{
		widht: 400px:
	}
}

@media(max-width: 425px){
	.container{
		widht: 320px:
	}
}
