*{
    font-family: Helvetica, monospace;
    color: #353e4d;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
    height: 1300px;
    transition: background-color 0.3s, color 0.3s;
}

#dark-mode-btn{
    background-color: transparent;
    margin-left: 60%;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50em;
    cursor: pointer;
    transition: 0.5s;
}

#dark-mode-btn i{
    font-size: 20px;
    transition: 0.5s;
}

#dark-mode-btn i:hover{
    color: #008ae6;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-height: 140vh;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head h1{
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 5px;
}

.head p{
    font-size: 17px;
    color: #8a8a8a;
    font-weight: bold;
    margin: auto;
    margin-bottom: 15px;
}

ul{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

.head ul li{
    list-style: none;
    font-size: 30px;
    color: #282f3a;
    transition: 0.5s;
}


.head ul li:hover{
    color: #008ae6;
}

.button-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.button-contact .dw-cv{
    background-color: #008ae6;
    border: none;
    font-size: 15px;
    padding: 17px 30px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.5s;
}

.button-contact .dw-cv:hover{
    background-color: #0070bb;
}

.button-contact .wpp{
    font-size: 25px;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    padding: 12px 15px;
    border-radius: 3px;
    transition: 0.5s;
}

.button-contact .wpp:hover{
    background-color: rgb(177, 183, 189);
}

.head h3{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 25px;
}

.tag-list{
    width: 25rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.inner{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 12s linear infinite;
}

.tag{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #444e5e;
    font-size: 0.8rem;
    background-color: rgb(228, 228, 228);
    padding: 0.6rem 1.2rem;
    border-radius: 3px;
    box-shadow: 0 0.1rem 0.2rem #00000033,;
    box-shadow: 0 0.1rem 0.5rem #0000004d,;
    box-shadow: 0 0.2rem 1.5rem #00000066,;
}

.tag span{
    font-size: 1rem;
    color: #282f3a;
}

.fade{
    position: absolute;
    background: linear-gradient(90deg, #f0f0f0, transparent 30%, transparent 70%, #f0f0f0);
    inset: 0;
    pointer-events: none;
}

@keyframes loop {
    0% {
        transform: translateX(10%);
    }

    100%{
        transform: translateX(-75%);
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    position: relative;
    width: 320px;
    height: 50px;
    background-color: rgb(228, 228, 228);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

nav p{
    position: relative;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0 15px;
    z-index: 1;
    cursor: pointer;
}

.selected{
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 0.8rem;
}

.hiden{
    display: none !important; 
}

#projects{
    width: 500px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 229, 233);
    border-radius: 3px;
}

#projects a{
    display: flex;
    width: 95%;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(228, 228, 228);
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#projects a:hover{
    background-color: rgb(177, 183, 189);
}

.project{
    width: 450px;
    height: 280px;
    border-radius: 3px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h3{
    margin-top: 2px;
}

.project:not(:last-child){
    margin-bottom: 25px;
}

.project img{
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    width: 450px;
    height: 190px;
}

#about{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3%;
    
}

.card{
    background-color: rgb(227, 229, 233);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 3px;
    width: 100%;
    text-align: justify;
}

#experience{
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exp{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 229, 233);
    padding: 20px;
    border-radius: 3px;
    width: 100%;
    text-align: justify;
    justify-content: center;
    margin-bottom: 20px;
}

.exp h3{
    margin-bottom: 10px;
    justify-content: center;
}

#check{
    color: #008ae6;
}

.exp p{
    font-weight: bold;
    font-size: 15px;
}

.exp p:not(:last-child){
    margin-bottom: 5px;
}

.exp .describe{
    font-size: 14px;
    font-weight: normal;
    color: #4e5a6e;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
}

footer p {
    color: #8a8a8a;
    font-size: 15px;
    font-weight: bold;
    align-items: end;
}



body.dark-mode {
    background-color: #353e4d;
}

body.dark-mode #dark-mode-btn i {
    color: rgb(227, 229, 233); 
}
body.dark-mode #dark-mode-btn i:hover {
    color: #008ae6; 
}

body.dark-mode .head h1,  body.dark-mode .head h3{
    color: rgb(227, 229, 233);
}
body.dark-mode .head ul li i{
    color: rgb(227, 229, 233);
}

body.dark-mode .button-contact .wpp {
    background-color: #323a47;
}
body.dark-mode .button-contact .wpp:hover {
    background-color: #282f3a;
}
body.dark-mode .button-contact .wpp i {
    color: rgb(227, 229, 233);;
}

body.dark-mode .tag-list .fade {
    background: linear-gradient(90deg, #353e4d, transparent 30%, transparent 70%, #353e4d);
}
body.dark-mode .tag-list .tag {
    background-color: #323a47;
    color: rgb(227, 229, 233);
}
body.dark-mode .tag-list .tag span {
    color: rgb(227, 229, 233);
}

body.dark-mode .content nav{
    background-color: #323a47;
}
body.dark-mode .content nav p{
    color: rgb(227, 229, 233);
}
body.dark-mode .selected{
    background-color: #353e4d;
}

body.dark-mode .exp{
    background-color: #323a47;
}

body.dark-mode .exp p, body.dark-mode .exp h3{
    color: rgb(227, 229, 233);
}

body.dark-mode .card{
    background-color: #323a47;
}
body.dark-mode .card p, body.dark-mode .card h3{
    color: rgb(227, 229, 233);
}

body.dark-mode p, body.dark-mode h3{
    color: rgb(227, 229, 233);
}

body.dark-mode .project{
    background-color: #353e4d;
}

body.dark-mode #projects{
    background-color: #323a47;
}

body.dark-mode #projects a{
    background-color: #323a47;
}

body.dark-mode #projects a:hover{
    background-color: #282f3a;
}

body.dark-mode #projects a i{
    color: rgb(227, 229, 233);
}